
.skills_article{
    text-align: center;
    padding: 2rem inherit;
}

.skills_article ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.skills_article li{
    padding: 1rem;
}

.skills_image{
    width: 5rem;
    height: 5rem;
}


@media (min-width: 600px) and (max-width: 1024px)
{
}

@media (min-width: 1024px)
{
} 