/* 
couleur 1 #843C0C
couleur 2 #FF9900
couleur 3 #FFCC00
*/

.home_image{
    border-radius: 50%;
    border: solid 10px #0D4663;
    width: 15rem;
    height: 100%;
    margin: 1rem auto 0 auto;
}

.document{
    border: solid 3.5px #0D4663;
    font-size: 2rem;
    font-weight: 700;
    color: #0D4663;
    text-decoration: none;
    margin: 0 1.5rem 1.5rem 1.5rem;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
}

.home_main{
    text-align: center;
}

.home_section{
    display: flex;
    flex-direction: column;
}

.home_documents{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    text-align: left;
}

.gradient_title
{
    padding-bottom: 3rem;
    color: #d7d7d7;
    background: linear-gradient(#ffffff22, #00000022 , #00000022);
    box-shadow: 0 1px 0 0 black;
}

.home_description{
    text-align: justify;
    padding: 0 2rem;
}

.home_description span{
    font-weight: 700;
}

.home_description .hello{
    color: #0D4663;
    font-size: 1.5em;
    padding-left: 5rem;
}

@media (min-width: 600px)
{
    .home_image{
        width: 20rem;
        height: 100%;
    }

    .home_documents{
        display: flex;
        justify-content: center;
        text-align: left;
    }

    .home_article{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .document{
        margin-top: 2rem;
    }
}