body{
    background-color: #E5E9E8;
    background-image: url(../images/main/background_tree_paysage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    color: #242424;
}

section, article, label{
   background-color: #e5e9e8da; 
}

article{
    padding: 0.5rem;
}